body {
    margin: 0;
    padding: 0;
    background-color: black;
    
    --text: white;
    --primary: #1f1f1f;
    --normal: rgba(255, 255, 255, 0.081);
    --accent: rgb(63, 119, 223);
    --secondary: rgb(238, 157, 58);
}
img {
    user-select: none;
}

.master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    z-index: 2;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 10, 10);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0;
    filter: opacity(1);
    transition: 300ms;
}

.nav {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    position: relative;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: larger;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar:hover {
    background-color: rgb(110, 109, 126);
}

.navbar:hover a {
    color: black;
}

.navbar:hover {
    background-color: rgb(110, 109, 126);
}

.nav:hover>a {
    color: red;
}

.panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 32px 64px ;
    gap: 16px;
    align-items: center;
    min-height: 90vh;
    min-height: 90svh;
    height: 1vh;
    /* border-bottom: 1px dashed white; */
}

.panel:nth-child(odd) {
    flex-direction: row;
    /* Default, left */
}

/* Style for even .container elements (right) */
.panel:nth-child(even) {
    flex-direction: row-reverse;
    /* Right */
}

.contentr.panel-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content {
    height: 100%;
    width: 101vh;
    background-color: rgb(116, 18, 18);
    margin: 10px;
}

.data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.data h1 {
    color: rgba(239, 18, 18, 0.316);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 12vw;
    letter-spacing: -2px;
    transform: scaleY(1.5);
}

#omen .bg {
    background-image: url(./assets/agent-bg/omen-bg.png);
}

#raze .bg {
    background-image: url(./assets/agent-bg/raze-bg.jpg);
}

#sage .bg {
    background-image: url(./assets/agent-bg/sage-bg.jpg);
}

#brim .bg {
    background-image: url(./assets/agent-bg/brim-bg.jpg);
}

#yoru .bg {
    background-image: url(./assets/agent-bg/yoru-bg.png);
}

#viper .bg {
    background-image: url(./assets/agent-bg/viper-bg.jpg);
}

#cypher .bg {
    background-image: url(./assets/agent-bg/cypher-bg.jpg);
}

#breach .bg {
    background-image: url(./assets/agent-bg/breach-bg.jpg);
}

#astra .bg {
    background-image: url(./assets/agent-bg/astra-bg.png);
}

#skye .bg {
    background-image: url(./assets/agent-bg/skye-bg.png);
}

#phoenix .bg {
    background-image: url(./assets/agent-bg/phoenix-bg.jpg);
}

#sova .bg {
    background-image: url(./assets/agent-bg/sova-bg.jpg);
}

#reyna .bg {
    background-image: url(./assets/agent-bg/reyna-bg.jpg);
}

#killjoy .bg {
    background-image: url(./assets/agent-bg/killjoy-bg.jpg);
}

#kayo .bg {
    background-image: url(./assets/agent-bg/kayo-bg.jpg);
}

#chamber .bg {
    background-image: url(./assets/agent-bg/chamber-bg.png);
}

#neon .bg {
    background-image: url(./assets/agent-bg/neon-bg.jpg);
}

#fade .bg {
    background-image: url(./assets/agent-bg/fade-bg.jpg);
}

#harbour .bg {
    background-image: url(./assets/agent-bg/harbour-bg.png);
}

#gekko .bg {
    background-image: url(./assets/agent-bg/gekko-bg.png);
}

.specabilities {
    display: flex;
    gap: 12px;
    list-style: none;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    left: auto;
    right: auto;
}

@media (max-width : 960px) {
    .container {
        height: 30vh;
    }

    li {
        flex: 0.5;
    }

    .ability span img {
        height: 24px;
        width: 24px;
    }
}