body 
        {
            margin: 0;
            padding: 0;
            background-color: black;
        }
        .master 
        {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 15px;
            justify-items: center;
            margin-top: 100px;
            z-index: 200;
        }
        .container 
        {
            position: relative;
            perspective: 400px;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            aspect-ratio: 2/3;
            margin: 30px;
        }
        .bg {
            height: 100%;
            width: 100%;
            border-radius: 12px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0px;
            background-color: antiquewhite;
            background-image: url(./assets/agent-bg/bg.jpg);
            background-size: cover;95
            background-repeat: no-repeat;
            background-position: 50%; */
            box-shadow: 0px 4px 16px black;
            z-index: 200;
            transition: 500ms;
        }
        .bg::after 
        {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0; left: 0;
            content: "";
            background: linear-gradient(
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.7) 80%,
            rgba(0, 0, 0, 0.8) 100% );
            transition: 400ms;
            opacity: 0.5;
            border-radius: 12px;
        }
        .container:hover.navbar{
            filter: opacity(0);
        }
        .container:hover > .bg::after 
        {
            opacity: 1;
        }
        .container:hover > .agent {
            transform: translateY(-20%);
            opacity: 1;
            z-index: 300;
        }
        .container:hover > .logo {
            transform: translateY(-15%);
            filter:contrast(5);

        }
        .container:hover > .bg {
            transform: rotateX(20deg) translateY(-10px);
            filter: brightness(0.7);
            opacity: 0.6;
        }
        .logo {
            height: 35%;
            width: auto;
            position: absolute;
            top: 65%;
            z-index: 5;
            box-shadow: 2px;
            transition: 500ms;
        }
        .agent {
            height: 80%;
            width: auto;
            position: absolute;
            z-index: 5;
            top: -10px;
            filter: brightness(1);
            opacity: 0;
            filter: drop-shadow(0px 0px 4px black);
            transition: 500ms;
            transition-delay: 100ms;
            z-index: 200;
        }
        #omen .bg
        {
            background-image: url(./assets/agent-bg/omen-bg.png);
        }
        #raze .bg{
            background-image: url(./assets/agent-bg/raze-bg.jpg);
        }
        #sage .bg{
            background-image: url(./assets/agent-bg/sage-bg.jpg);
        }
        #brim .bg{
            background-image: url(./assets/agent-bg/brim-bg.jpg);
        }
        #yoru .bg{
            background-image: url(./assets/agent-bg/yoru-bg.png);
        }
        #viper .bg{
            background-image: url(./assets/agent-bg/viper-bg.jpg);
        }
        #cypher .bg{
            background-image: url(./assets/agent-bg/cypher-bg.jpg);
        }
        #breach .bg{
            background-image: url(./assets/agent-bg/breach-bg.jpg);
        }
        #astra .bg{
            background-image: url(./assets/agent-bg/astra-bg.png);
        }
        #skye .bg{
            background-image: url(./assets/agent-bg/skye-bg.png);
        }
        .navbar {
            height: 50px;
            width: 100%;
            background-color: rgb(10, 10, 10);
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            display: flex;
            position: fixed;
            z-index: 5;
            top: 0;;
            /* transition: 300ms; */
        }
        .nav{
            height: 90%;
            width: 640px;
            top: 0;
            background-color: rgb(10, 10, 10);
            z-index: 10;
            display: inline-block;
            position: relative;
            margin: 2px;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a {
            color: white;
            font-size: larger;
            text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
        }
        .navbar:hover > .nav{
            background-color: white;
        }
        .navbar:hover a{
            color: rgb(100,100,100);
        }
        .navbar:hover {
            background-color: white;
        }
        .home:hover > a {
            color: red;
        }
        .about:hover > a {
            color: red;
        }
        .sign-in:hover > a {
            color: red;
        }
        .panel{
            display: flex;
            /* justify-items: flex-start;
            align-items: flex-start; */
            width: 100%;
            height: auto;
        }
        .panel:nth-child(2n){
            justify-items: flex-start;
            align-items: flex-start;
        }
        .panel:nth-child(2n+1){
            justify-items: flex-end;
            align-items: flex-end;
        }